TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_USER_IDS=
TELEGRAM_BACKEND_TOKEN=
HDQAZ_API_BASE_URL=
BOT_SOURCE_ROOT=
BOT_MAX_SOURCE_BYTES=
TELEGRAM_API_BASE=
BOT_STATE_ROOT=
R2_ENDPOINT_URL=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
