HDQAZ_API_BASE_URL=
AUTOMATION_WORKER_ID=
AUTOMATION_WORKER_TOKEN=
WORKER_POLL_MIN_SECONDS=
WORKER_POLL_MAX_SECONDS=
WORKER_HEARTBEAT_SECONDS=
WORKER_WORKSPACE=
WORKER_SOURCE_ROOT=
WORKER_MAX_SOURCE_BYTES=
WORKER_MIN_FREE_BYTES=
WORKER_MAX_DURATION_SECONDS=
WORKER_SOURCE_TIMEOUT_SECONDS=
WORKER_PROCESS_TIMEOUT_SECONDS=
WORKER_FAILURE_RETENTION_SECONDS=
WORKER_FAILURE_RETENTION_BYTES=
WORKER_INTRO_PATH=
WORKER_WATERMARK_PATH=
WORKER_WATERMARK_POSITION=
WORKER_WATERMARK_OPACITY=
WORKER_FFMPEG_THREADS=
WORKER_FFMPEG_PRESET=
WORKER_STORAGE_ADAPTER=
WORKER_STORAGE_ROOT=
WORKER_OUTPUT_ORIGIN=
R2_ENDPOINT_URL=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
